# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

In [9]:
import numpy as np
import pandas as pd

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [33]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [31]:
reviews = pd.read_csv('reviews_sample.csv', delimiter=',', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [47]:
count_row_recipes = recipes.shape[0]  # Gives number of rows
count_col_recipes = recipes.shape[1]  # Gives number of columns
print(f'Recipes: количество точек данных (строк) для - {count_row_recipes}, количество столбцов - {count_col_recipes}, \nтипы данных столбцов: \n{recipes.dtypes}')
count_row_reviews = reviews.shape[0]  # Gives number of rows
count_col_reviews = reviews.shape[1]  # Gives number of columns
print(f'Reviews: количество точек данных (строк) для - {count_row_reviews}, количество столбцов - {count_col_reviews}, \nтипы данных столбцов: \n{reviews.dtypes}')

Recipes: количество точек данных (строк) для - 30000, количество столбцов - 8,
типы данных столбцов:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
Reviews: количество точек данных (строк) для - 126696, количество столбцов - 5,
типы данных столбцов:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [142]:
recipes_non = recipes.isna().sum()
print(f'{((recipes.shape[0] - recipes.dropna(axis=0).shape[0])/recipes.shape[0])*100}%')
print(f'Столбцы с пропусками: {recipes_non[recipes_non>0].index}')
reviews_non = reviews.isna().sum()
print(f'{((reviews.shape[0] - reviews.dropna(axis=0).shape[0])/reviews.shape[0])*100}%')
print(f'Столбцы с пропусками: {reviews_non[reviews_non>0].index}')

56.846666666666664%
Столбцы с пропусками: Index(['n_steps', 'description', 'n_ingredients'], dtype='object')
0.013417945317926377%
Столбцы с пропусками: Index(['review'], dtype='object')

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [164]:
print(recipes[['id', 'minutes', 'contributor_id', 'n_steps', 'n_ingredients']].mean(), end = '\n\n')
print(reviews[['user_id', 'recipe_id', 'rating']].mean())

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [167]:
recipes_random = recipes.sample(n = 10)
recipes_random

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
1786,baked chicken drummies,495338,45,329769,2013-02-11,7.0,"prepare the marinade in 5 minutes, marinate 2 ...",9.0
5522,chicken rice supper,127253,50,171854,2005-06-23,13.0,this recipe came from the local paper. it is ...,10.0
11066,fishermans sandwich,269017,30,644902,2007-11-30,NaN,this sandwich really has nothing to do with fi...,11.0
16746,mahi mahi with pineapple salsa,314811,25,305531,2008-07-20,4.0,can't wait to try this recipe from the gastron...,NaN
28718,vegetarian enchilada casserole recipe,451098,60,542159,2011-03-19,NaN,this recipe comes from progresso tamale parlor.,15.0
13120,guacamole quesadillas,295975,20,446738,2008-04-03,7.0,"i was looking for something fun and easy on ""m...",13.0
3817,broccoli eggs supreme,229065,132,169430,2007-05-21,5.0,"broccoli recipe with eggs and shredded cheese,...",6.0
14958,jelly sauce for ham,130816,2,207176,2005-07-22,2.0,for all you ham lovers. from a community book...,5.0
19493,oriental style salmon fillets,484545,13,280271,2012-07-29,NaN,"this is out of the ""everyday cooking"" cook boo...",NaN
793,apple hazelnut crumble,293253,65,795961,2008-03-21,NaN,i tweaked the magnolia bakery's recipe for app...,7.0

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [178]:
indexes = list(range(len(reviews)))
reviews.index = indexes
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [180]:
recipes[(recipes.minutes <=20) & (recipes.n_ingredients <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [186]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

In [189]:
recipess = pd.read_csv('recipes_sample.csv', delimiter=',', parse_dates=['submitted'])
recipess['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [192]:
recipes[recipes.submitted < '2011-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [325]:
recipes['description_length'] = recipes['description'].str.len()
task_6 = recipes
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [220]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [232]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [267]:
c = recipes.groupby('contributor_id')
print(c.count().idxmax().name_word_count)
c.count()

89831

,name,id,minutes,submitted,n_steps,description,n_ingredients,description_length,name_word_count
contributor_id,,,,,,,,,
1530,5,5,5,5,2,2,3,2,5
1533,186,186,186,186,114,70,133,70,186
1534,50,50,50,50,27,15,36,15,50
1535,40,40,40,40,21,38,29,38,40
1538,8,8,8,8,5,3,6,3,8
...,...,...,...,...,...,...,...,...,...
2001968497,2,2,2,2,0,2,1,2,2
2002059754,1,1,1,1,1,1,1,1,1
2002234079,1,1,1,1,1,1,1,1,1
2002234259,1,1,1,1,1,1,0,1,1
2002247884,1,1,1,1,1,1,1,1,1

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [287]:
rating = reviews.groupby('recipe_id')['rating'].mean()
rating

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [291]:
c = recipes.groupby(pd.Grouper(key='submitted', freq="Y"))
c.count()['name_word_count']

submitted
1999-12-31     275
2000-12-31     104
2001-12-31     589
2002-12-31    2644
2003-12-31    2334
2004-12-31    2153
2005-12-31    3130
2006-12-31    3473
2007-12-31    4429
2008-12-31    4029
2009-12-31    2963
2010-12-31    1538
2011-12-31     922
2012-12-31     659
2013-12-31     490
2014-12-31     139
2015-12-31      42
2016-12-31      24
2017-12-31      39
2018-12-31      24
Freq: A-DEC, Name: name_word_count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [334]:
combined_table = recipes.merge(reviews, left_on='id', right_on='recipe_id', how='inner')
combined_table = combined_table[['id', 'name', 'user_id', 'rating']]
task_5_1 = combined_table
combined_table

,id,name,user_id,rating
0,77188,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,184447,4
1,77188,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,668205,5
2,77188,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,843746,5
3,77188,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,507469,4
4,77188,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,719941,0
...,...,...,...,...
126691,143615,Caramels,1425430,5
126692,143615,Caramels,136558,5
126693,143615,Caramels,1800106861,5
126694,143615,Caramels,302094,5
126695,143615,Caramels,646764,5

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [372]:
combined_table = recipes.merge(reviews, left_on='id', right_on='recipe_id', how='left')
combined_table['review_count'] = combined_table.groupby('recipe_id')['review'].count()
#b = combined_table.groupby('recipe_id')['review'].count()
task_5_2 = combined_table
#combined_table = combined_table.fillna(0)
#combined_table = combined_table[['recipe_id', 'name', 'review_count']]
combined_table
b = combined_table.groupby('recipe_id')['review'].count()
print(b)
combined_table = combined_table.merge(b, on='recipe_id')
combined_table

recipe_id
48.0         2
55.0         4
66.0        18
91.0         4
94.0         4
            ..
536547.0     1
536610.0     1
536728.0     1
536729.0     4
536747.0     4
Name: review, Length: 28100, dtype: int64

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,recipe_id,date,rating,review_x,review_count,review_y
0,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,1.844470e+05,77188.0,2006-02-28,4.0,Very filling and healthy.,NaN,7
1,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,6.682050e+05,77188.0,2008-02-29,5.0,This was delicious and easy to prepare. I used...,NaN,7
2,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,8.437460e+05,77188.0,2008-09-14,5.0,Delicious and a sumptuous dal. Have already m...,NaN,7
3,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,5.074690e+05,77188.0,2010-05-19,4.0,This was good and I may make it again. I wasn'...,NaN,7
4,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,7.199410e+05,77188.0,2008-01-08,0.0,"Thanks for the recipe,\r\nI have tried this re...",NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126691,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,1.425430e+06,143615.0,2010-01-04,5.0,I made these for family and friends this year ...,NaN,12
126692,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,1.365580e+05,143615.0,2008-05-22,5.0,Easy to make with excellent results. Very cre...,NaN,12
126693,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,1.800107e+09,143615.0,2014-04-09,5.0,I made the caramels for the first time tonight...,NaN,12
126694,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,3.020940e+05,143615.0,2010-12-21,5.0,I recruited my husband to make these for gifts...,1.0,12
126695,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,6.467640e+05,143615.0,2012-12-10,5.0,"A favorite! Hardest part is watching, waiting ...",NaN,12

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [352]:
combined_table = recipes.merge(reviews, left_on='id', right_on='recipe_id', how='inner')
combined_table = combined_table.groupby(pd.Grouper(key='submitted', freq="Y"))['rating'].mean()
combined_table[combined_table == combined_table.min()]

submitted
2017-12-31    2.75
Freq: A-DEC, Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [330]:
recipes = task_6
recipes = recipes.sort_values(by='name_word_count', ascending=False)
recipes.to_csv('task6.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [337]:
with pd.ExcelWriter("task_6_2.xlsx") as writer:
    task_5_1.to_excel(writer, sheet_name='Рецепты с оценками')  
    task_5_2.to_excel(writer, sheet_name='Количество отзывов по рецептам')